body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Trochut';
}

h1 {
    font-size: 50px;
}

p {
    font-family: 'Noto Serif TC';
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}

nav ul {
    list-style-type: none;
    text-align:center;
    display:block;
    margin: auto;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    font-family: 'Noto Serif TC';
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    color: #000;
}

a {
    color: #555555;
}

.copy {
    font-family: 'Noto Serif TC';
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/

a.active:link, a.active:visited, a.active:active, a.active:hover {
    color: #000;
}

.mainContent {
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 150px;
}

div#listing {
    width: 30%;
    float: left;
    background-color: #e3e3e3;
    text-align: center;
    height: 250px;
    margin: 10px;
    min-width: 250px;
    padding-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background: #555555;
    padding: 25px;
    color: white;
    text-align: center;
}

.social i {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

.social a {
    padding-left: 10px;
}

#listing button {
    background-color: transparent;
    font-size: 13px;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    border: #fff 3px solid;
}

#listing button:hover {
    background-color: #A1C3E9;
    border: 3px solid #fff;
}

.img {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.invalid-feedback {
    color: darkred;
    font-size: 10px;
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

input, label, textarea, select {
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    font-family: 'Noto Serif TC';
}

#remember {
    width: 5px;
    display: inline-block;
    margin-left: 10%;
}

.form-check-label {
    width: 30%;
    margin-left: 5px;
    display: inline-block;
    font-size: 12px;
}

.container {
    font-family: 'Noto Serif TC';
    margin-bottom: 40px;
}

#editform {
    max-width: 600px;
    margin: auto;
    width: 95%;
}

#editform textarea {
    padding: 20px;
    width: 250px;
}

input[type='submit'] {
    width: 150px;
    padding: 10px;
    background-color: #e3e3e3;
    font-family: 'Noto Serif TC';
    font-size: 16px;
    margin-top: 15px;
}

input[type='submit']:hover {
background-color: #A1C3E9;
}

#contentPage {
    margin: auto;
    width: 95%;
    max-width: 600px;
    text-align: center;
}

#contentPage ul li {
    list-style-type: none;
}

#contentPage ul li {
    background-color: #A1C3E9;
    padding: 15px;
    width: 40%;
    display: inline-block;
    margin: 10px;
    max-width: 300px;
}

#loginform {
    border: 5px solid #555555;
    width: 90%;
    margin: auto;
    max-width: 300px;
    padding: 20px;
    font-family: 'Noto Serif TC';
}

.loginbtns {
    margin: auto;
    display: block;
    margin-top: 10px;
}

.row.justify-content-center {
    padding-bottom: 25px;
}

a {
    text-decoration: none;
}

.error {
    background-color: rgb(139, 0, 0, 0.3);
    border: 1px solid darkred;
    color: white;
    padding: 5px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 350px;
    margin-bottom: 10px;
}

.alert {
    margin: auto;
    display: block;
    text-align: center;
    background-color: rgb(139, 0, 0, 0.3);
    border: 1px solid darkred;
    color: white;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 500px;
}

button {
    background-color: #e3e3e3;
    font-size: 13px;
    padding: 10px;
    min-width: 220px;
    border: #fff 3px solid;
    font-family: 'Noto Serif TC';
    font-size: 16px;
    margin: auto;
    display: block;

}

button:hover {
    background-color: #A1C3E9;
    border: 3px solid #fff;
}

#homebuttons {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (min-width: 700px) {
    #homebuttons {
        margin-top: -150px;
    }

    #homebuttons button {
        margin-left: 20px;
    }
}